$white-color: #ffffff;
$white-gray-color: #f5f5f5;
$dark-gray-color:#555555;
$matte-black-color: #131313;
$charocoal-gray-color: #171717;
$dark-charocoal-gray-color: #1e1e1e;
$sunny-yellow-color: #efd700;
$bright-yellow-color: #e8d100;
$golden-yellow-color: #d6c001;


// background: linear-gradient(180deg, #D6C001 0%, #FBB503 100%);